- if signed_in?
  = render '/shared/header'
  %div{ :id => "content", :class => "span-18 round"}
    = form_tag(save_tweets_path, :method => :create) do
      %ul
        = submit_tag("save tweet", :class => "save_btn")
        %hr
        - client.friends_timeline.each do |key|
          %li
            = check_box_tag("tweet_ids[]", key.id)
            %img(src="#{key.user.profile_image_url}")
            = parse_for_url(key.text).html_safe
  = render '/shared/sidebar'
  = render '/shared/footer'
- else
  = link_to('sign in to twitter', '/auth/twitter', :method => :get, :class => 'signin_button round') 
