- if signed_in?
  = render '/shared/header'
  %div{ :id => "content", :class => "span-18 round"}
    %dl
      %dt 
        User Name:
      %dd
        = client.user.name
      %dt 
        Screen Name:
      %dd
        = client.user.screen_name
      %dt
        Ort: 
      %dd
        = client.user.location
      %dt
        Friends:
      %dd
        = client.user.friends_count
      %dt
        Followers:
      %dd
        = client.user.followers_count
  = render '/shared/sidebar'
  = render '/shared/footer'
- else
  = link_to('sign in to twitter', '/auth/twitter', :method => :get, :class => 'signin_button round') 
